:root {
  --custom-black-color: #000000;
  --custom-white-color: #ffffff;
}

.announcement-bar {
  background-color: var(--custom-black-color);
  display: flex;
  align-items: center;
}

.announcement-bar__message {
  font-size: 90%;
  text-transform: uppercase;
  color: var(--custom-white-color);
}

.announcement-bar.hidden {
  display: none;
}

.announcement-bar button.close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 35px;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--custom-white-color);
}

.announcement-bar button.close::before {
  font-size: 16px;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 35px;
  content: "\d7";
  text-align: center;
}
