:root {
  --custom-wishlist-color-black: #000000;
  --custom-wishlist-color-red: #ef4643;
  --custom-wishlist-icon-size: 2rem;
}

#wishlist-icon-bubble {
  position: relative;
}

button#custom-wishlist {
  background: transparent;
  border: none;
}

button.custom-wishlist {
  margin-top: 10px;
  background: transparent;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--custom-wishlist-color-black);
  border: 1px solid var(--custom-wishlist-color-black);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: 100%;
  cursor: pointer;
}

button.custom-wishlist svg {
  width: var(--custom-wishlist-icon-size);
  height: var(--custom-wishlist-icon-size);
  margin-right: 10px;
}

.custom-wishlist-count-bubble {
  background-color: var(--custom-wishlist-color-red);
  color: #fff;
  position: absolute;
  height: var(--custom-wishlist-icon-size);
  width: var(--custom-wishlist-icon-size);
  border-radius: 100%;
  font-size: 0.9rem;
  bottom: 0.8rem;
  left: 2.2rem;
  text-align: center;
}

.custom-wishlist.active {
  border-color: var(--custom-wishlist-color-red);
  color: var(--custom-wishlist-color-red);
}

#page-custom-wishlist .table-wishlist {
  width: 100%;
}

button.custom-wishlist-remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.custom-wishlist-remove svg {
  height: var(--custom-wishlist-icon-size);
  width: var(--custom-wishlist-icon-size);
}

.custom-wishlist-item__buttons {
  pointer-events: none;
}
