:root {
  --custom-black-color: #000000;
  --custom-white-color: #ffffff;
}

.custom-announcement-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.announcement-bar__message {
  font-size: 90%;
  text-transform: uppercase;
}

.custom-announcement-bar.hidden {
  display: none;
}

.custom-announcement-bar .close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 35px;
  text-align: center;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--custom-white-color);
}

.custom-announcement-bar .close svg {
  width: 3rem;
  height: 3rem;
}
